/* Обнуление */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

input {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    box-shadow: none;
    font: inherit;
    color: inherit;
    line-height: inherit;
    width: auto;
}

html,
body {
    height: 100%;
    line-height: 1;
    margin: 0;
    padding: 0;
}
/* ===================== */
.header_link {
    text-decoration: "none";
    color: white;
    margin: 10px 
}
.header_link:hover{
    color: rgb(219, 163, 74);
    text-decoration: underline;
}

/* ======== */

.back_link{
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.back_link:hover{
    text-decoration: underline;
    font-weight: bold;
}